# Files to ignore when running git archive
.github/ export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.luacheckrc export-ignore
stylua.toml export-ignore
Makefile export-ignore
tests/ export-ignore
